ASPNETCore-WebAPI-Sample/.github
ASPNETCore-WebAPI-Sample/.vs
ASPNETCore-WebAPI-Sample/SampleWebApiAspNetCore/.vscode
ASPNETCore-WebAPI-Sample/SampleWebApiAspNetCore/bin
ASPNETCore-WebAPI-Sample/SampleWebApiAspNetCore/obj
ASPNETCore-WebAPI-Sample/.git
ASPNETCore-WebAPI-Sample/.gitattributes
ASPNETCore-WebAPI-Sample/.gitignore
ASPNETCore-WebAPI-Sample/README.md
Galaxy.Template/database_migrations
Galaxy.Template/Docker.Dependencies
Galaxy.Template/docs
Galaxy.Template/helm
Galaxy.Template/.editorconfig
Galaxy.Template/.env
Galaxy.Template/.git
Galaxy.Template/.gitignore
Galaxy.Template/.gitmodules
Galaxy.Template/azure-pipelines.yml
Galaxy.Template/init.ps1
Galaxy.Template/package-scripts.psm1
Galaxy.Template/package.json
Galaxy.Template/README.md
